<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Les projets</h1>
    <p class="lead text-muted">Découvrez tous les projets créés par nos associations partenaires.</p>
  </div>
</section>

<div class="album text-muted">
  <div class="container">

    <div class="row" *ngFor="let project of projects">
      <div class="card">
        <img src="{{project.image}}" height="200px" width="auto" alt="Card image cap">
        <h2>{{project.title}}</h2>
        <p class="card-text">{{project.resume}}</p>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          En savoir plus...
        </button>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <!-- Nom du projet -->
                <h1 class="modal-title">{{project.title}}</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <!-- Rappel du projet -->
              <div class="modal-body">
                <img src="{{project.image}}" class="imageModal"
                     height="200px" width="auto" alt="Card image cap">
                <p>{{project.presentation}}</p>
              </div>

              <!-- Détails du projet -->
              <div class="modal-body">
                <h2>Détails</h2>
                <hr class="featurette-divider">
                <ul style="text-decoration-line: none">
                  <li>Résumé : {{project.resume}}</li>
                  <li>Date de création : {{project.date | date : "dd/MM/y"}}</li>
                  <li>Lieu : {{project.place}}</li>
                  <li>Contact : {{project.contactmail}}</li>
                </ul>
              </div>
              <div class="modal-footer">
                <a href="{{project.fblink}}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="{{project.twtlink}}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a class="btn btn-primary" href="{{project.googlelink}}" target="_blank">Aller sur la page du projet</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
