.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  color: #000;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

/* Modal */
.imageModal {
  float: left;
  margin-right: 20px;
}

.modal-header {
  color: white;
  background: #FF9800;
}

.close {
  color: white;
}

i.fa.fa-facebook, i.fa.fa-twitter {
  border-radius: 100%;
  font-size: 25px;
  height: 35px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 35px;
  text-align: center;
  width: 35px;
}

i.fa.fa-facebook {
  border: 1px solid #4C68A5;
  color: #4C68A5;
}

i.fa.fa-twitter {
  border: 1px solid #45A1EB;
  color: #45A1EB;
}

i.fa.fa-facebook:hover, i.fa.fa-twitter:hover {
  opacity: .6;
  cursor: pointer;
}
