.nav-item:hover {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 2px;
}

.nav-item {
  padding: 5px;
  border-right: 1px solid rgba(255, 255, 255, .2);
  line-height: 50px;
}

li.nav-item:last-of-type {
  border: none;
  padding: 5px;
  line-height: 50px;
}

.btn {
  cursor: pointer;
}

.btn-group:hover>.dropdown-menu {
  display: block;
}

#logo {
  margin-right: 2%;
}

#nomAsso {
  margin-top: -3px;
  margin-left: 5px;
  line-height: 75px;
  font-family: "Comic Sans MS", Comic Sans, cursive;
}

#nomAsso:hover {
  color: rgb(248, 248, 248) !important;
}

.navbar {
  padding: 0;
}

.dropdown {
  line-height: 75px;
}

.dropdown-item {
  line-height: 25px;
}

.dropdown-item:hover {
  background-color: rgb(255, 152, 0) !important;
}

.social-icons {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.tab {
  margin-right: 10px;
  border-radius: 0 0 25px 25px;
  float: left;
}

.circle {
  padding: 10px;
  width: 40px;
  font-size: 20px;
  text-align: center;
  background: #fff;
  border-radius: 20px;
  border: solid 1px;
}

.fa-facebook {
  color: hsl(221, 44%, 41%);
  border-color: hsl(221, 44%, 41%);
}

.fa-facebook:hover {
  background-color: hsl(221, 44%, 41%);
}

.fa-twitter {
  color: hsl(195, 100%, 60%);
  border-color: hsl(195, 100%, 60%);
}

.fa-twitter:hover {
  background-color: hsl(195, 100%, 60%);
}

.fa-google-plus {
  color: hsl(7, 71%, 55%);
  border-color: hsl(7, 71%, 55%);
}

.fa-google-plus:hover {
  background-color: hsl(7, 71%, 55%);
}

.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus:hover, .fa-linkedin:hover {
  color: hsl(0, 0%, 100%);
}

.screen-reader {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.shadow .tab {
  background: none;
}

.shadow .circle {
  box-shadow: 1px 1px 3px hsla(0, 0%, 0%, .4);
}

.shadow .fa-facebook,
.shadow .fa-twitter,
.shadow .fa-google-plus {
  border: none hsl(0, 0%, 100%);
  padding: 11px;

}

.squares .tab {
  background: none;
}
