.nav-item:hover {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 2px;
}

.nav-item {
  padding: 5px;
  border-right: 1px solid rgba(255, 255, 255, .2);
  line-height: 50px;
}

li.nav-item:last-of-type {
  border: none;
  padding: 5px;
  line-height: 50px;
}

.btn {
  cursor: pointer;
}

.btn-group:hover>.dropdown-menu {
  display: block;
}

#logo {
  margin-right: 2%;
}

#nomAsso {
  margin-top: -3px;
  margin-left: 5px;
  line-height: 75px;
  font-family: "Comic Sans MS", Comic Sans, cursive;
}

#nomAsso:hover {
  color: rgb(248, 248, 248) !important;
}

.navbar {
  padding: 0;
}

.dropdown {
  line-height: 75px;
}

.dropdown-item {
  line-height: 25px;
}

.dropdown-item:hover {
  background-color: rgb(255, 152, 0) !important;
}


.dropdownHide {
  visibility: hidden;
  text-align: center;
  height: auto;
}

.row1 {
  margin-top: 130px;
}

@media only screen and (max-width: 1000px) {
  .dropdownHide {
    visibility: visible;
  }

  .row1 {
    visibility: hidden;
  }

  #oli {
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
  }

  .aa {
    text-align: center;
  }

  .dropdown-item:hover {
    color: white !important;
  }

  .sndUl {
    list-style-type: none;
  }

}


.social-icons {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.tab {
  margin-right: 10px;
  border-radius: 0 0 25px 25px;
  float: left;
}

.circle {
  padding: 10px;
  width: 40px;
  font-size: 20px;
  text-align: center;
  background: #fff;
  border-radius: 20px;
  border: solid 1px;
}

.fa-facebook {
  color: hsl(221, 44%, 41%);
  border-color: hsl(221, 44%, 41%);
}

.fa-facebook:hover {
  background-color: hsl(221, 44%, 41%);
}

.fa-twitter {
  color: hsl(195, 100%, 60%);
  border-color: hsl(195, 100%, 60%);
}

.fa-twitter:hover {
  background-color: hsl(195, 100%, 60%);
}

.fa-google-plus {
  color: hsl(7, 71%, 55%);
  border-color: hsl(7, 71%, 55%);
}

.fa-google-plus:hover {
  background-color: hsl(7, 71%, 55%);
}

.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus:hover, .fa-linkedin:hover {
  color: hsl(0, 0%, 100%);
}

.screen-reader {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.shadow .tab {
  background: none;
}

.shadow .circle {
  box-shadow: 1px 1px 3px hsla(0, 0%, 0%, .4);
}

.shadow .fa-facebook,
.shadow .fa-twitter,
.shadow .fa-google-plus {
  border: none hsl(0, 0%, 100%);
  padding: 11px;

}

.squares .tab {
  background: none;
}

/* Search bar */
.bar {
  box-shadow: 0 1px 1px #ccc;
  border-radius: 2px;
  margin: auto;
  position:relative;
}

.bar input {
  border: none;
  width: 100%;
  border-radius: 2px;
  text-align: left;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  outline: none;
  text-indent: 40px;
}

.input-group .icon-addon .form-control {
  border-radius: 0;
}

.icon-addon {
  position: relative;
  color: #555;
  display: block;
}

.icon-addon:after,
.icon-addon:before {
  display: table;
  content: " ";
}

.icon-addon:after {
  clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 8px 0 0 0;
}

.form-group {
  margin-bottom: 1em;
  margin-top: 1em;
}

.icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  font-size: 18px;
  padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
  height: 30px;
  padding: 5px 10px 5px 28px;
  font-size: 12px;
  line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
  font-size: 18px;
  margin-left: 0;
  left: 11px;
  top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
  float: left;
  font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
  margin-left: 0;
  font-size: 12px;
  left: 5px;
  top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
  color: rgb(255, 152, 0);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
